body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    height: 54px;
    font-family: 'Noto Sans TC', sans-serif;
    max-width: 1920px;
    width: 100%;
    /* border-bottom: 1px solid #c70f3d; */
}

footer {
    margin-top: 40px;
    position: relative;
}

footer >img {
  height: 104px;
  max-width: 1920px;
  width: 100%;
}

footer > p {
  position: absolute;  /* 絕對定位 */
  top: 41px;          /* 對齊底部 */
  left: 0;            /* 對齊左側 */
  right: 0;           /* 對齊右側 */
  text-align: center;
  margin: 0;
  color: white;      /* 文字顏色 */
  font-size: 16px;
  font-weight: 700;
}

.home__header {
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-height: 34px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid #c70f3d; */
}

.home__header__title {
    font-size: 30px;
    font-weight: 700;
    color:#448899;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    /* border: 1px solid #c70f3d; */
}


.home__header__button {
    display: flex;
    padding-right: 10px;
}

.home__header__button > .booking__btn, 
.home__header__button > .login__btn {
    border: none;           /* 移除預設邊框 */
    background: none;       /* 移除預設背景 */  
    margin:10px;
    font-weight: 500;
    color: #666666;
    font-size: 16px;    
    cursor: pointer;        /* 顯示手型游標 */
    padding: 0;             /* 移除預設 padding */
}

.header__hr {
    border: none;              /* 移除預設邊框 */
    border-top: 1px solid #E8E8E8;  /* 或使用 border-top 來顯示線條 */
    height: 0;                 /* hr 的高度應該為 0，用 border 來顯示 */
    max-width: 1920px;
    width: 100%;               /* 確保寬度填滿 */
    margin: 0;                 /* 移除預設 margin */
    margin-top: 5px;
}

/* Modal 樣式 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: calc(54px + 160px);  /* header高度 + banner高度的一半，再減去modal-box高度的一半 */
    z-index: 1000;
  }
  
  /* 放在 .modal 之後，優先級更高 */
  .modal.hidden {
    display: none;
  }
  
  /* 隱藏 modal-box */
  .modal-box.hidden {
    display: none;
  }
  
  .modal-box.login {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    height: 275px;
    box-sizing: border-box;
    margin-top: calc(-137.5px);  /* modal-box高度的一半，負值向上偏移 */
    justify-items: center;
  }
  
  .modal-box.login.enlarge {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    height: 293px;
    box-sizing: border-box;
    margin-top: calc(-137.5px);  /* modal-box高度的一半，負值向上偏移 */
    justify-items: center;
  }
  
  .modal-box.signup {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    height: 332px;
    box-sizing: border-box;
    margin-top: calc(-137.5px);  /* modal-box高度的一半，負值向上偏移 */
    justify-items: center;
  }
  
  .modal-box.signup.enlarge {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    height: 350px;
    box-sizing: border-box;
    margin-top: calc(-137.5px);  /* modal-box高度的一半，負值向上偏移 */
    justify-items: center;
  }
  
  
  
  .modal-close {
    position: absolute;
    top: 27px;
    right: 17px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  .modal-close:hover {
    color: #000000;
  }
  
  .top_dress {
    background: linear-gradient(0deg, #337788, #66AABB);
    width: 340px;
    height: 10px;
    margin: -25px -15px 15px -15px;  /* 負 margin 抵消 padding，讓它延伸到邊緣 */
    padding: 0px;
    border-radius: 5px 5px 0 0;  /* 如果需要，讓頂部圓角與 modal-box 對齊 */
  }
  
  .modal__title {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
    margin-bottom: 15px;
    height: 27px;
  }
  
  
  .signupName {
    width: 310px;
    height: 47px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
  }
  
  .loginUser,.signupUser {
    width: 310px;
    height: 47px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
  }
  
  
  .loginPass,.signupPass  {
    width: 310px;
    height: 47px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
  }
  
  .loginSubmit, .signupSubmit {
    width: 310px;
    height: 46px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    background-color: #448899;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 19px;
    color: white;
    cursor: pointer;
  }
  
  .signupResult,.loginResult {
    margin: 0px;
  }
  
  
  .loginDescription, .signupDescription {
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    cursor: pointer; 
  }

.attraction__container {
    min-height: 297px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin: 0px;
    box-sizing: border-box;
}

.welcome {
    height: 27px;
    max-width: 1000px;
    width: 100%;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-top: 40px;
    margin-bottom: 30px;
}



.booking_information_area {
    min-height: 200px;
    max-width: 980px;
    width: 100%;
    display: flex;
}

.booking_img-style {
    margin-right: 30px;
    height: 200px;    
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking_information {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    width: 100%;
}

.booking_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.booking_title {
    color: #448899;
    margin-bottom: 0;
}

.booking_detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date, .time, .price, .adress {
    font-weight: 400;
}


.divider__hr {
    border: none;              /* 移除預設邊框 */
    border-top: 1px solid #E8E8E8;  /* 或使用 border-top 來顯示線條 */
    height: 0;                 /* hr 的高度應該為 0，用 border 來顯示 */
    max-width: 1200px;
    width: 100%;               /* 確保寬度填滿 */
    margin: 40px auto;                 
}

.contact__container, .payment_container {
    display: flex;
    justify-content: center;
    height: 227px;
}

.contact_information, .payment_information {
    height: 227px;
    max-width: 980px;
    width:100%;
    display: flex;
    flex-direction: column;
}

.contact_information_title, .payment_information_title {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 20px;
}

.contact_information-style, .payment_information-style {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payment_information-style > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }


.contact_information_input {
    width: 200px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}

.payment_information_input {
    width: 200px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}

.summary_container {
    display: flex;
    justify-content:center;
}

.summary_information {
    max-width: 980px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 22px;
}

.summary_information_cost {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.summary_information_submit {
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    width: 173px;
    height: 36px;
    background-color: #448899;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.summary_information_submit:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.summary_information_submit:not(:disabled):hover {
    background-color: #3a7282;
}

#desktop_delete {
    cursor: pointer;
}

#mobile_delete {
    display: none;    
}


/* 沒有預定行程 */
.booking_trip_none {
    height: 24px;
    max-width: 1000px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.attraction__container > footer {
    height: 865px;
}

.attraction__container > footer >img {
    height: 865px;
  }

/* 前面是沒有預定行程 */

/* 平板尺寸（1200px 以下）：3 列 */
@media (max-width: 1200px) {
    body {
        padding: 10px;
    }
    
    footer {
        margin-left: -10px;
        margin-right: -10px;
    }
  }

  
/* 手機尺寸（500px 以下）*/
@media (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer img {
        width: 360px;
        min-width: 360px;
        height: 104px;
    }

    .home__header {
        width: 360px;
    }

    .home__header__title {
        padding-left: 10px;
        padding-right: 10px;
        /* border: 1px solid #c70f3d; */
    }

    .header__hr {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome, .booking_information_area {
        width: 340px;
    }

    .booking_information_area {
        flex-direction: column;
    }

    .booking_img, .booking_img>img {
        height: 200px;    
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .booking_information {
        margin-top: 30px;
        height: 200px;
    }

    #desktop_delete {
        display: none;
    }

    #mobile_delete {
        display: block;
        height: 30px;
        width: 30px;
        align-self: flex-end;
        margin-top: -10px;
        cursor: pointer;
    }

    .divider__hr {
        margin: 30px auto;
        width: 340px;                 
    }

 
    .contact_information {
        height: 200px;    
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact__container {
        height: 256px;
    }

    .payment_container {
        height: 188px;
    }

    .payment_information {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .summary_information {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    /* 沒有預定行程 */
    .attraction__container > footer {
        height: 425px;
        width: 360px;
    }

    .attraction__container > footer >img {
        height: 425px;
        width: 360px;
    }

    .booking_trip_none {
        width: 340px;
    }

    /* 前面是沒有預定行程 */

}